[2014-09-23 14:52] benedekfazekas opened #1 "mrandersoning tools.nrepl fails when trying to use transport"
[code]

this showing up at startup may be related:

[code]

[2014-11-25 06:58] expez opened #2 "Problem packaging refactor-nrepl"
[code]

Trying to reproduce https://github.com/clojure-emacs/clj-refactor.el/issues/86 on the windows machine at work.

[2014-12-28 15:46] expez opened #4 "Doesn't work with prefix libspecs?"
I had to make this change to get the mranderson tests to pass, when writing `find-unbound-vars` for `refactor-nrepl`:

[code]

[2014-12-28 20:45] #1 closed, assigned to nobody

[2014-12-28 20:46] #2 closed, assigned to nobody

[2014-12-28 23:39] #4 closed, assigned to nobody

[2015-04-15 07:59] benedekfazekas opened #5 "tests which require mrandersoned dependencies of a project fail"
since those dependencies are prefixed by mranderson but the test files are processed at the moment.

see a particular case of this: clojure-emacs/cider-nrepl#183

[2015-06-12 09:35] expez opened #6 "Make the prefix a bit more unique"
As discussed [here](https://github.com/clojure-emacs/cider-nrepl/pull/213)

In the referenced thread a desire to prefix the dependencies with the project name is expressed.  I think this is a mistake.  We want to eliminate dependency clashes, when several versions of a class is loaded into the classloader, but we don't want to load multiple versions of identical code under different names.  If we

[2015-06-30 18:17] frenchy64 opened #7 "Excluded or overriden transitive dependencies break topological sort"
A project.clj such as this:

[code]

ignores the fact that core.memoize must be processed before core.cache because pomegranate thinks core.cache does not appear in the dependencies of core.memoize.

This means core.memoize ends up with calls to `clojure.core.cache`, since core.cache can be processed first.

[2015-06-30 18:23] benedekfazekas commented on #7
yup, i am aware of this problem. my idea to fix it is basically work with an unresolved dependency tree if that makes sense. so if a certain library occures multiple times in the tree say once as a transient dependency and once as a direct dependency i would rewrite and include it twice. hope this makes sense...

[2015-06-30 18:33] frenchy64 commented on #6
This seems like a reasonable default. I would like to use `mranderson` to generate a flat folder of dependencies and I've hacked it to do so in my fork. Customising the prefix would be a nice option.

[2015-06-30 18:54] frenchy64 commented on #7
As in, you wouldn't change the current topological sort, but _also_ pass around another tree that includes the "actual" dependencies?

Do you get this unresolved tree from Aether by just deleting the `:exclusions` form?

And does this mean you would mangle core.cache requires twice? Once for core.cache, then again when you discover core.memoize also depends on it?

[2015-06-30 19:11] benedekfazekas commented on #7
i want to cheat in the sense that i would loop through the direct depedencies and pretend that they are the only dependency in other words work with the one tree per direct dependency.

i guess not because it would still 'solve' clashing versions etc

this would only make sense if i separated the processing of the above mentioned trees. can get tricky when i replace the references in the original

[2015-06-30 19:14] frenchy64 commented on #7
Your cheat sounds like the easiest solution.

[2015-06-30 19:16] benedekfazekas commented on #7
let me know if you have some ideas around this tho

[2015-06-30 19:23] frenchy64 commented on #7
It seems like if we fiddle with the topological map from Aether this fix would be a one liner. My idea was to grab the resolved topological map, then walk over it, adding dependencies that have been overriden and reordering as needed. Then just plug this new topological map into the original functions.

[2015-06-30 19:26] benedekfazekas commented on #7
i guess the tricky thing with 'cheat' would be (1) seperating the trees (quite a bit hassling with directories etc) and (2) updating the references at the right places only

[2015-07-05 22:34] expez commented on #6
I really think it's a mistake to use a new prefix for each project @benedekfazekas.  Using a unique prefix that we can easily filter on when needed is great, but you're now loading n versions of the same thing into the runtime for no reason.

[2015-07-06 07:34] benedekfazekas commented on #6
not sure I follow. this commit only replaces "deps" with projectname-projectversion (as default) or your custom prefix as the first element of rewritten namespaces. in fact "deps" used to be repeated for transient dependencies but the customisable prefix is not repeated any more. so it used to be this `deps.cheshire.v5v4v0.deps.tigris...` not it is `foobar.cheshire.v5v4v0.tigris...`

can you post

[2015-07-06 09:20] expez commented on #6
Here's a concrete example:

 cider-nrepl and refactor-nrepl have these deps in common at present: `java.classpath`, `tools.reader` and `tools.namespace`.

With this new change these libraries will be loaded into the runtime as `cider_nrepl.tools.reader.v.0.9.2...` and as `refactor_nrepl.tools.reader.v0.9.2...`.  We've thus aliased the same thing, for no reason, and this causes our runtime to grow

[2015-07-06 09:31] benedekfazekas commented on #6
I see and appreciate your point. a few points:

1. you can already achieve this by defining an appropriate custom prefix (eg `mrandersonv0v4v4` or similar)
1. I could even make this default I guess...
1. the same would be achieved if/when we merge refactor-nrepl and cider-nrepl ;)
1. I absolutely see the practical benefit of this I am just not sure as mranderson's goal is to separate dependencies.

[2015-07-06 09:46] expez commented on #6
If `mranderson` sees wider adoption this is going to be impossible in practice because it would require coordination between library authors.  How can you coordinate with authors of libraries you're unaware of?

Yes, but there's already interest from other projects in using mranderson....

It's not just the load-time, it's also runtime performance (the JIT thinks the code is different when it's th

[2015-07-06 10:00] benedekfazekas commented on #6
still interested in other ppls opinion but i am nearly sold to change the default just to `mranderson` (sans version that is) -- best self marketing for the project too i guess... ;)

[2015-07-06 10:08] expez commented on #6
Without the version, or some other uniquifyer, you might get conflicts if [mranderson](https://github.com/mranderson) starts publishing clojure artifacts.  In a sense it has the same problem as the `deps` prefix had.  So at least make it some variant of `mranderson.deps` or `mranderson.inlined_deps.`

You also risk claiming that rewritten deps are identical when they might not be, because they wer

[2015-07-06 10:14] frenchy64 commented on #6
I don't fully understand the problems related to having multiple copies of
the same namespace in the classpath, though I understand only one will load.

Is a better solution a package manager? ie. rebundling jars with mranderson
prefixes. This way if two libraries depend on
[com.mranderson/tools.namespace-zero-six-four "1.0.0"], it is really just
one copy of the source/AOT.

Perhaps a cron job can

[2015-07-06 19:33] #6 closed

[2015-07-09 16:30] bendlas opened #8 "resource directories not repackaged"
This is easy to reproduce with the [lein-collisions](https://github.com/webnf/lein-collisions) plugin in a project depending on `cider` and `cljfmt`:

[code]

[2015-07-11 21:22] benedekfazekas commented on #8
fixed with 0b41658ce6657de5589b5be7a193bb369315a414

[2015-07-11 21:22] #8 closed

[2015-07-12 15:56] benedekfazekas commented on #7
the possible problems with my approach:
- even bigger jar as a result
- even slower loading time as the same dependency will be loaded several times if it occurs at multiple places

[2015-07-12 21:01] benedekfazekas commented on #7
I came up with a hybrid solution where as a best effort I order the primary dependencies according to how many times they occur in the dependency tree: more times they occur the later they get resolved. I guess this approach fails if primary dependency A occurs more times than B but A actually depends on B. However, this solution solves the simpler cases (the one which pending on mranderson for lo

[2015-07-19 16:11] benedekfazekas commented on #7
had to revert my failing try to sort deps. i guess options still are
- implement proper topological sort
- original idea of processing every first level dependency independently (won't help with performance)

[2015-07-20 11:35] frenchy64 opened #9 "Pomegranate is moving to Eclipse Aether (RFC)"
There's a RFC on this [pull request on pomegranate](https://github.com/cemerick/pomegranate/pull/70).  Will this affect mranderson?

[2015-12-07 19:18] benedekfazekas opened #10 "skip java class repackaging if there is nothing to repackage"
see clojure-emacs/cider-nrepl#247 for context

[2016-02-06 10:54] benedekfazekas opened #11 "fails with leiningen 2.6.0"
[code]

[2016-02-21 08:31] danielcompton opened #12 "Handle ClojureScript files too"
There was a confusing bug for a user of refactor-nrepl, who was trying to specify his own version of tools.reader. refactor-nrepl uses mranderson for shading it's version of tools.reader, but mranderson doesn't handle ClojureScript files. These got copied in whole, and caused hard to debug issues. More details are available at https://github.com/technomancy/leiningen/issues/2097#issuecomment-18677

[2016-02-21 08:34] danielcompton commented on #12
@arichiardi, doesn't look like it would be too hard to make a patch for this to support cljs too https://github.com/benedekfazekas/mranderson/commit/70dbe9f5c809d1cbfea0f7feb6842fc1157c7a9e

[2016-02-21 08:37] benedekfazekas commented on #12
thanks for letting me know! tbh (1) mranderson needs a rewrite (possibly from scratch) and (2) I am not sure if the thing mranderson does applies to cljs and if so how exactly. will check these issues out tho

[2016-02-21 08:57] danielcompton commented on #12
Yeah, I'm not sure if it will actually work for CLJS, but it would be good to include CLJS files to get them out of harms way.

[2016-02-21 13:18] grammati opened #13 "Rewrites string literals"
I'm not sure if this behavior is intended or not, but mranderson rewrites string literals if they contain a full namespace name. This affects this line in cider-nrepl:

https://github.com/clojure-emacs/cider-nrepl/blob/master/src/cider/nrepl/middleware/refresh.clj#L32

The comment above indicates that the code in cider-nrepl was written this way (constructing a keyword at runtime) specifically so

[2016-02-21 17:22] arichiardi commented on #12
So just filtering them out?

[2016-02-21 19:35] danielcompton commented on #12
No, copy them like mranderson does for `.clj` and `.cljc` files. They may or may not work, but they will at least be out of the way.

[2016-02-23 12:48] #11 closed

[2016-02-27 19:40] #12 closed

[2016-02-27 20:06] benedekfazekas commented on #12
guys, having a bit of difficulty to prove that this is really good. also a bit reluctant to to build&upload a version of `refactor-nrepl` with snapshot mranderson to clojars. Any chance you can test this?

steps would be:

1.  get the version of `refactor-nrepl` you want to test with (I tested with HEAD master)
2. edit `project.clj` to use `thomasa/mranderson "0.4.7-SNAPSHOT"`
3. run `./build.sh i

[2016-02-27 21:22] benedekfazekas commented on #13
just to clarify: I agree that `mranderson` having an effect on how the code is written in `cider-nrepl` is bad but this workaround actually solves

is that right?

[2016-02-28 17:55] #10 closed

[2016-02-28 21:22] #13 closed

[2016-02-28 21:23] benedekfazekas commented on #13
apparently misunderstood the report initially. fix stops mranderson rewritting ns name if they are quoted as strings.

[2016-02-28 23:48] benedekfazekas commented on #12
actually latest refactor-nrepl 2.2.0-SNAPSHOT is built with fixed mranderson. let me know if it really fixes the problem. cc @danielcompton @arichiardi

[2016-02-29 00:39] danielcompton commented on #12
Yep, this looks good, the cljs files are moved to `/mranderson047/toolsreader/v0v10v0_alpha3/cljs/tools/reader.cljs`.

[2016-02-29 01:58] arichiardi commented on #12
A bit busy now but will test ASAP, and thanks, the code looks good.

[2016-06-23 12:42] stathissideris opened #14 "`:import` of records breaks"
I have the following `project.clj`

[code]

Running the tests with mranderson, results in this exception:

[code]

`PullSpec` is a record defined in a different namespace of datascript:

https://github.com/tonsky/datascript/blob/master/src/datascript/pull_parser.cljc

You can try my project here:

https://github.com/stathissideris/positano

[2018-09-14 11:44] RadicalZephyr opened #17 "Maybe transition to using maintained fork of jarjar"
It looks like the com.googlecode.jarjar has been abandoned these last six years.  Since then the pantsbuild developers have forked it for their own use at https://github.com/pantsbuild/jarjar

Their fork adds a few interesting features:
- a much newer version of ASM (6.2) (which is maintained)
- which adds support for working with Java 10 files (and many other improvements I'm sure)
- buffered jar

[2018-10-22 15:40] benedekfazekas commented on #14
give a try to just released 0.4.9 if still relevant

[2018-10-26 13:57] #9 closed

[2018-11-13 13:34] martinklepsch opened #19 "Set metadata to identify inlined namespaces"
Tools like https://cljdoc.org that generate API documentation will see inlined deps namespaces like any other namespace. This makes it hard to exclude namespaces from inlined dependencies from API documentation; making the API docs harder to read for end users.

It would be great of MrAnderson could attach some metadata to inlined namespaces so that those namespaces can be identified and excluded

[2018-11-13 13:57] bbatsov commented on #19
It'd be nice if it also added something like `:inlined`, so tools could infer which namespaces are "private" vs "inlined".

[2018-11-13 14:05] benedekfazekas commented on #19
by private you mean belonging to the the library not a dependency, or you mean something else?

[2018-11-13 14:53] martinklepsch commented on #19
@benedekfazekas I think by "private" Bozhidar might refer to namespaces annotated with `:no-doc`. I think if you'd add something like`:mranderson/inlined-ns` to namespaces as metadata all requests would be accounted for. cljdoc would simply filter namespaces based on that and other users could easily identify "external" namespaces by checking if that key is present in the namespace's metadata.

[2019-03-08 09:52] benedekfazekas commented on #7
this is now fixed in two different ways in [this commit](https://github.com/benedekfazekas/mranderson/commit/7acd66e4bec0d65ce4c06166dc82a79aec5b16ea).

firstly there is `unresolved-deps-hierarchy` option now which causes mranderson to work on a fully expanded, unresolved dependency tree. this tree is walked in a depth first order when processed. this mode has other implications too (the same depe

[2019-03-19 10:57] benedekfazekas opened #20 "Intermittent broken file after mrandersoning"
Occasionally after mrandersoning a file gets only half written on the disk causing compilation errors. Very likely related to the parallel file processing mranderson does on the 0.5.x branch -- however, as the problem occurred both with `parallel` and `claypoole` most likely mranderson itself is buggy somehow (missing `with-open` maybe...?!).

Needs a test first to reliably reproduce the problem.

[2019-03-19 10:59] benedekfazekas opened #21 "rewrite README"
current readme needs a big overhaul. maybe a bit less 'funny' and more informative?! :)

[2019-03-19 12:35] bbatsov commented on #21
👍

[2019-03-21 13:21] benedekfazekas opened #22 "clean up opts in terms of CLI and project file"
provide options to define them in the project file or on CLI where the option is missing and makes sense

[2019-03-21 13:22] benedekfazekas opened #23 "shorten leiningen profile name `plugin.mranderson/config`"

[2019-03-21 13:22] benedekfazekas opened #24 "Add option to print only resolved/unresolved deps tree and exit"

[2019-03-21 14:16] benedekfazekas opened #25 "Make default project prefix unique"
currently the default is generated based on the mranderson version used to do the inlining. This actually defeats dependency isolation in theory, eg projects mrandersoned with the same version of mranderson can still clash.

[2019-03-22 17:07] #19 closed

[2019-03-22 17:07] #21 closed

[2019-03-22 17:07] #25 closed

[2019-03-22 17:07] #20 closed

[2019-03-25 11:48] benedekfazekas commented on #7
0.5.0 released

[2019-03-25 11:48] #7 closed

[2019-03-25 21:23] danielcompton commented on #14
This is still present in 0.5.0 in re-frame-10x when creating source dependencies for garden.

[2019-03-25 21:32] danielcompton opened #28 "Regression with Reagent macros in 0.5.0"
Previously, mranderson rewrote https://github.com/reagent-project/reagent/blob/master/src/reagent/debug.clj#L7 from

[code]

When using mranderson 0.5.0, the namespace form isn't rewritten, it stays exactly the same as the original.

Looking at the form, it is valid ClojureScript, though it may be more idiomatic to write `reagent.debug/has-console`.

I've noticed improvements elsewhere,  "Expected

[2019-03-26 06:49] liquidz opened #29 "Namespace alias regression"
### How to reproduce
project.clj
[code]

src/foo/core.clj
[code]

In 0.4.9, `target/srcdeps/foo/core.clj` will be the following I expected.
[code]

In 0.5.0, `medley` alias has changed and code is broken.
[code]

[2019-03-26 07:29] benedekfazekas commented on #29
thanks, will look into it. if you want to list your project in the projects using mranderson section in the readme, happy to take a PR

[2019-03-26 07:43] bbatsov commented on #29
See https://github.com/liquidz/iced-nrepl It's pretty cool!

[2019-03-26 07:45] benedekfazekas commented on #29
seen it yesterday, it is very cool

[2019-03-26 07:46] bbatsov opened #30 "Rename `source-dep` to `inline-dep`"
[code]

Related to changing `source-deps` to `inline-deps`. I think it'd be nice if you added an alias for this that's `:inline` (that'd be my preference) or `:inline-dep`. That won't break backwards compatibility, but would align the name of the task with the metadata.

[2019-03-26 07:48] benedekfazekas commented on #30
good point, will do

[2019-03-26 13:06] liquidz commented on #29
@benedekfazekas @bbatsov Thanks!!

[2019-03-26 17:46] danielcompton opened #31 "Don't copy META-INF directories?"
In re-frame-10x we go through a bit of work to delete the META-INF directories and then delete any empty directory paths left over after that.

https://github.com/Day8/re-frame-10x/blob/40d9ff3ddf52d0469555fb3b7356d6dcb940fc58/source-deps.sh#L10-L16

Would it make sense to have an option to not copy those directories in, or is there some other reason why they are needed?

[2019-03-27 10:06] #29 closed

[2019-03-27 10:15] benedekfazekas commented on #31
i don't think they are needed really

[2019-03-27 10:19] benedekfazekas commented on #14
can you point me to what exactly broke perhaps in your commit where you manually fixed this @danielcompton ?

[2019-03-27 11:13] #28 closed

[2019-03-28 01:08] danielcompton commented on #14
@benedekfazekas it looks like you've fixed this now, but if not, this is the file I had trouble with: https://github.com/Day8/re-frame-10x/commit/40d9ff3ddf52d0469555fb3b7356d6dcb940fc58#diff-dfe1b74d39762da5b2c99a967554ecedR4.

[2019-03-28 11:04] #31 closed

[2019-03-28 11:30] #30 closed

[2019-03-28 11:36] benedekfazekas commented on #23
after thinking about this a bit I think I leave the above profile name alone. It is very easy to define an alias to shorten it the project file as such:
[code]

and then run
`lein mranderson test`

[2019-03-28 11:36] #23 closed

[2019-03-28 11:52] bbatsov commented on #23
Fair enough. My main concern was that it wasn't consistent with the common naming patterns I've seen employed by another plugins.

[2019-03-28 11:53] benedekfazekas commented on #29
the latest `0.5.1-SNAPSHOT` on clojars is an alpha for `0.5.1` please check it out if it fixes this problem and works on your project

[2019-03-28 11:53] benedekfazekas commented on #28
the latest `0.5.1-SNAPSHOT` on clojars is an alpha for `0.5.1` please check it out if it fixes this problem and works on your project

[2019-03-28 11:54] benedekfazekas commented on #31
this should be fixed with the latest snapshot on clojars too

[2019-03-28 11:55] benedekfazekas commented on #30
on clojars

[2019-03-28 11:56] benedekfazekas commented on #14
should be ok now, pls check with latest snapshot

[2019-03-28 17:22] danielcompton commented on #14
I'm still having issues with importing garden records. After running 0.5.1-SNAPSHOT against re-frame-10x (with `./source-deps.sh`), I get this diff (and more that are the same):

[code]

[2019-03-28 17:26] danielcompton commented on #31
Yep, this works, thanks!

[2019-03-28 17:26] danielcompton commented on #28
Yep, this works!

[2019-03-29 00:48] liquidz commented on #29
@benedekfazekas I confirmed that this is fixed! Great thanks!!

[2019-03-29 10:59] benedekfazekas commented on #14
new snapshot version with a proper fix is on clojars.

re. comments and strings: there was an interim version of 0.5.0-SNAPSHOT where I parsed the whole ns with `rewrite-clj` but that is just not really an option due to performance issues -- to be more blunt it gets horribly slow this way. So now only the ns macro is parsed with `rewrite-clj` the ns body is processed simply as text. This gives the

[2019-03-29 12:05] benedekfazekas opened #33 "Deftype and java class with the same prefix in an import"
example from [here](https://github.com/TheClimateCorporation/claypoole/blob/a51fd64df53c61a4982eb9144f6c66a45d7d6bb2/src/clj/com/climate/claypoole.clj#L27) from claypoole

[code]

this import prefixes two classes of claypoole itself. One of those classes is created with a deftype, the other one is created by a java class. MrAnderson prefixing deftype based classes in imports is a separate step fro

[2019-03-29 16:43] benedekfazekas opened #34 "clean up and finalise API"
so MrAnderson can be used by a third party, maybe from the REPL to pull in a dep and shadow it.

[2019-03-29 16:45] benedekfazekas opened #35 "create CLI interface"
lein plugin should be an optional wrapper really

[2019-03-29 16:47] benedekfazekas opened #36 "explore distribution as a GraalVM native imgs"
depends on #35

[2019-03-29 16:59] benedekfazekas opened #37 "Spin off `mranderson.move` into a separate lib"
As it is a touched up version of `clojure.tools.namespace.move` could be used separately from MrAnderson

[2019-03-29 18:26] danielcompton commented on #14
This is getting pretty close, there seems to be one case remaining, again `---` is the hand fixed one, and `+++` is the mranderson SNAPSHOT 3 changes.

[code]

[2019-03-29 18:29] benedekfazekas commented on #14
eh this is annoying, sorry. will have a look.

[2019-03-30 09:16] benedekfazekas commented on #14
after looking at this realised that this is a slightly different edge case here. not trying to explain away the bug but apparently ns macro for `units.cljc` altho valid is a bit wasteful. it repeats requires for `types` and `util` that is not really necessary, those requires could go outside the reader macros.

that said I suppose I need to handle the case where there are two `:require` sections i

[2019-03-30 11:25] #14 closed

[2019-03-30 11:30] benedekfazekas commented on #14
new snapshot is on clojars. just to eat my words again the problem was not with the multiple requires but my yesterday's fix was buggy. hopefully this does it -- famous last words ;)

[2019-03-31 20:36] danielcompton commented on #14
Yep, looking good, can confirm this fixes it. Thanks!

[2019-03-31 20:37] benedekfazekas commented on #14
nice one! thanks for the patience :)

does this you can get rid of the patching step in your workflow?

[2019-03-31 20:38] benedekfazekas commented on #29
is there anything else in your patchfile @liquidz I could take care of in MrAnderson?

[2019-04-01 01:35] liquidz commented on #29
@benedekfazekas Nothing! Thanks!

[2019-04-01 04:01] danielcompton commented on #14
Yep, it’s all 100% automatic now.

[2019-04-04 07:32] stathissideris commented on #14
I'm happy that this was fixed, many thanks! I'll give it another go next time I work on positano (which could be a while!)

[2019-04-04 10:00] benedekfazekas commented on #14
@stathissideris let me know what you find when you get there, cheers

[2019-04-04 17:48] arichiardi opened #38 "No reader function for tag Inf in parallel library"
Hi @benedekfazekas!

Opening an issue from https://github.com/clojure-emacs/cider-nrepl/pull/594 because the problem does not seem to be solved:

[code]

[code]

The tests there are running against clojure `1.10` by default.

[2019-04-04 17:51] benedekfazekas commented on #38
maybe i was wrong in terms of the lein version. can you try with lein 2.9.1?

[2019-04-04 18:31] arichiardi commented on #38
Yep `2.9.1` works. Closing.

[2019-04-04 18:31] #38 closed

[2019-04-04 19:36] benedekfazekas commented on #38
thanks. will update the readme accordingly.

[2019-04-16 11:05] benedekfazekas opened #39 "Investigate what happens when MrAnderson is used recursively"
altho MrAnderson is mainly meant to be used on applications, inlining/shadowing their dependencies. it is possible to inline a library which has its dependencies inlined already. Wonder if this just works out of the box or breaks and if so how.

Since mranderson adds a meta now to the ns it is possible to avoid inlining already inlined stuff if needed

[2019-04-25 15:35] aleksandersumowski opened #40 "illegal reflective access operation"
When starting `lein repl` I get a number of warnings:

My profiles.clj:

[code]

[2019-04-25 15:55] benedekfazekas commented on #40
Thanks for reporting.

I think this is really coming from `[cider/cider-nrepl "0.21.1"]` or more precisely from its dependency `orchard` `0.4.0` and again its dependency `dynapath` `0.2.5`. I can see that latest HEAD `orchard` is using `dynapath` `1.0.0`

I think the issue is discussed here in detail: https://github.com/clojure-emacs/orchard/issues/20

MrAnderson only gets into this story because

[2019-04-25 15:55] #40 closed

[2019-05-20 13:59] benedekfazekas opened #41 "explore using tools.deps instead of pomegranate/aether"
as means of resolving dependencies

[2019-05-20 14:08] benedekfazekas opened #42 "make lein plugin a separate, optional artifact"
almost all `leinigen` specific code is already in `leiningen.inline-deps`, however `mranderson.util` still references leiningen for logging. if this latter is eliminated leiningen could be excluded when mranderson is used directly

related to #35

[2019-05-24 15:46] benedekfazekas opened #43 "spit out some meta info about a run"
from the conversation with @Olical on slack:

[2019-05-28 13:21] benedekfazekas commented on #34
`(filter u/source-dep? dependencies)` should rather happen in `leiningen.inline-deps` not in `mranderson.core`

[2019-08-02 10:31] byrongibby opened #44 "The system cannot find the file specified"
Hi

Could someone please help me with the following error:

[code]

My `project.clj` looks as follows:

[code]

[2019-08-02 10:36] benedekfazekas commented on #44
hi @byrongibby i will have a look

[2019-08-02 10:37] byrongibby commented on #44
Thanks a lot!

[2019-08-03 17:31] byrongibby commented on #44
I reran things on an empty project `lein new app mranderson-test`:

[code]
Produces the same error:

[code]

[2019-08-04 05:18] byrongibby commented on #44
I'm using

[code]

on Windows 10.

[2019-08-06 08:10] benedekfazekas commented on #44
had a look. the riddley jar looks a bit weird to be honest. this is the list of files in the jar:

[code]

note that both `walk.clj` and `compiler.clj` is duplicated which I guess confuses mranderson when it unzips the jar. I am guessing the reason the jar is looks like this is this line in riddley's project file: `:java-source-paths ["src/riddley"]`.

I can look into trying to track down the exac

[2019-08-06 09:17] byrongibby commented on #44
Will do. Thank you for the time and effort.

Would the following assessment be correct:
1. This version of riddley is used in clj-http which is a widely used package that, as a result, is rendered incompatible with mrandeson
2. Even if the problem lies with riddley, the version used by clj-http is 0.1.12 while the latest version is 0.2.0, therefore I can count out using mranderson in the near futu

[2019-08-06 09:27] byrongibby commented on #44
I have posted this issue to the riddley team: https://github.com/ztellman/riddley/issues/31

[2019-08-06 10:05] benedekfazekas commented on #44
well. I suppose you can formalise this like your two above points. but we are in a bit grey area in terms of who should fix what. I mean apparently the uberjar is working fine so I would not be surprised if this issue did not get much attention at riddley -- unless this causes problems for other tools which i am not aware of.

that said I am happy to look into this further to see if there is a qui

[2019-08-06 10:17] byrongibby commented on #44
It's likely beyond my ability, but maybe that's a perfectly good reason to expand my ability.

The the reason I need mranderson is not immediately necessary, so I let me give it a go.

[2019-08-06 11:02] benedekfazekas commented on #44
I pushed a fix to a branch: https://github.com/benedekfazekas/mranderson/tree/fix-44
I am not really sure i want to release as is into the wild. I might want to wrap this into a config option or something so you explicitly need to config for filtering out those files that have a path not matching their ns declaration.

anyways before proceeding would be nice if you tested this.
1. check out the ab

[2019-08-06 11:05] byrongibby commented on #44
Great! Will do.

[2019-08-07 06:30] byrongibby commented on #44
Everything is working as expected

[code]

And I am no longer getting package/version conflicts in MATLAB. This has been a huge help to me, thank you very much!

I will continue to monitor the issue I posted on riddley and hopefully get the problem sorted out there with the aim of making fix-44 unnecessary in the future.

[2019-08-07 06:53] benedekfazekas commented on #44
i keep this open as you still seem to have problems and as the fix is not yet incorporated into master or released.

wonder why the hiding/shadowing is not working though... please refer to https://github.com/benedekfazekas/mranderson#usage part of the readme to figure out how to make sure you run your app/repl etc with the inlined deps.

[2019-08-07 07:50] byrongibby commented on #44
I made a few stupid mistakes, having resolved them things look like this, I am unable to run the repl on package the JAR without an error from lein:

[code]

[2019-08-07 09:09] benedekfazekas commented on #44
can't you just inline `clj-http` as in the previous try?

[2019-08-07 09:40] byrongibby commented on #44
Okay. On a fresh project `lein new app mranderson-test` with the only added  (inlined) dependency being `clj-http`, `lein with-profile +plugin.mranderson/config uberjar` runs successfully.

As soon as I require `[clj-http.client :as client]` in the `ns` form, it no longer packages the JAR:

[code]

[2019-08-07 09:44] benedekfazekas commented on #44
you need to clean and rerun inline deps when you edit core.clj

[2019-08-07 09:52] byrongibby commented on #44
Like so?

[code]

[2019-08-07 09:56] benedekfazekas commented on #44
not sure you can use with-profile like this. can you pls retry in two separate step? inline first, uberjarring next

[2019-08-07 10:09] byrongibby commented on #44
Unfortunately the same result:

[code]

[2019-08-07 10:15] benedekfazekas commented on #44
will have a look on my local

[2019-08-07 10:32] byrongibby commented on #44
Thanks, I will check on my Linux box as well.

[2019-08-11 10:08] benedekfazekas commented on #44
i had just a very short time to look at this and did not manage to make this work. BUT I did manage to pass the above error. This basically caused by this line in the project.clj:
`:target-path "target/%s"`
this changes the target path obviously which confuses mranderson. The reason for this is obviously MrAnderson's bug: eg it has `target/srcdeps` hardcoded somewhere. Will file an issue and fix t

[2019-08-11 12:30] byrongibby commented on #44
That's good news, looking forward to a solution.

[2019-11-24 01:18] sogaiu commented on #17
There is also this: https://github.com/shevek/jarjar

Any idea how the two differ?

[2019-11-24 01:30] sogaiu commented on #42
IIUC, this refers to `info`, `warn`, and `debug`.

`warn` does not appear to be used anywhere -- may be that can just be removed?

`info` is used in:
 - util.clj's `apply-jarjar!`
 - inline_deps.clj's `lein-project->ctx`

`debug` is used in:
 - inline_deps.clj's `lein-project->ctx`

It seems like inline_deps.clj could just use leiningen.core.main's `info` and `debug` directly.

What's not so obvio

[2019-11-24 05:07] sogaiu commented on #34
Is the following close to what you had in mind?

src/leiningen/inline_deps.clj:
[code]

src/mranderson/core.clj:
[code]

[2019-11-24 07:58] benedekfazekas commented on #42
the point of this issue is *not* to depend on leiningen as a dependency so projects using mranderson like [conjure](https://github.com/Olical/conjure) don't need to pull in leiningen at all. the way to go about it would be to pass is some kind of log-info-fn, debug-log-fn or something along those lines so when leiningen is not around it can be just a println or noop or whatever.

does this make se

[2019-11-24 08:02] benedekfazekas commented on #34
yup, i suppose

[2019-11-24 15:06] sogaiu commented on #42
Yes, thanks for the elaboration.

[2019-11-25 05:16] sogaiu commented on #42
How does the idea of introducing a couple of dynamic variables in `mranderson.core` for debug and info output sound?

A partial sketch:

[code]

So replace `u/info` with `*log-info*`, and `u/debug` with `*log-debug*` in the rest of the file.

Then in `inline-deps` in `leiningen.inline-deps`, use `binding`:

[code]

(Also, in the function `mranderson`, since `apply-jarjar!` is called, may be it cou

[2020-12-30 13:53] #44 closed

[2021-01-05 06:54] bbatsov opened #47 "Error inlining cljfmt 0.7"
I ran into the following problem when trying to release cider-nrepl 0.25.6:

[code]

It doesn't seem to be a regression in the most recent mranderson, as I got the same problem with the previous release as well. I've reverted to cljfmt 0.6.8, so I can release something but ideally we should fix this problem somehow.

You can easily reproduce this by running on the current master of cider-nrepl. I'

[2021-01-05 07:43] benedekfazekas commented on #47
thanks Bug for flagging, will have a look.

[2021-01-05 07:46] bbatsov commented on #47
Thanks! I looked quckly what's changed in cljfmt and this commit is the likely cause of the breakage IMO https://github.com/weavejester/cljfmt/commit/7571de0760a9a26f5167349f8811f62597cb1c3d Probably something to do with the `genclass`.

[2021-01-13 12:28] #47 closed

[2021-01-13 12:46] benedekfazekas commented on #47
no idea how the above commit caused this, there was an obviously wrong assumption in the function in mranderson when calculating all the java class prefixes to create the jarjar rule to rename with. assumption was that all packages at least two tokens deeps so `foo.bar.Baz` for any Baz class. that is not true for cljfmt's difflib depedency causing some classes with only the `difflib` package not b

[2021-01-17 09:02] bbatsov commented on #47
I can confirm that the fix works. Thanks!

[2021-01-17 09:04] benedekfazekas commented on #47
cool, will release 0.5.3 shortly

[2021-02-16 08:58] bbatsov commented on #47
@benedekfazekas Don't forget about this new release. :-)

[2021-02-18 11:31] benedekfazekas commented on #47
and I did. shame on me as @liquidz reminded me too. released now, sry folks!

[2021-02-18 11:55] bbatsov commented on #47
No worries!

[2021-06-21 13:32] jarohen opened #48 "Fails to add prefix to Java classes compiled with Java >7"
Hey @benedekfazekas :wave:

repro:

* new project, `project.clj`:
[code]
* `lein inline-deps`
* `jar -tf target/class-deps.jar`

In the `class-deps.jar` file, we see the `org.apache.commons` classes correctly prefixed under `repro`, and the `clj_diff` class remaining unaltered - this unaltered class may well then clash with a different version included elsewhere.

This is caused by a check in `com

[2021-06-21 13:45] benedekfazekas commented on #48
thanks for the exact repro steps and analysis @jarohen! -- @RadicalZephyr did submit a PR for this too but we hit some blockers when testing with `cider-nrepl`, see #18 for reference. I might have an other go on that branch/PR when I find some time.

[2021-06-21 13:48] jarohen opened #49 "Inconsistency with args pulled from project map vs CLI"
In https://github.com/benedekfazekas/mranderson/blob/master/src/leiningen/inline_deps.clj#L16-L42, it seems that some of the options are pulled from the CLI, some from the project map, and some from both - is this intentional?

Caught me out when I tried to include flags from the README in the project map :wink:

If not, happy to write up a quick PR :)

James

[2021-06-21 13:55] benedekfazekas commented on #49
if it does not work like how it is described (here)[https://github.com/benedekfazekas/mranderson#further-config-options] then it is not intentional. And even if it does I am happy to look at improvements ;)

[2021-06-21 14:31] jarohen commented on #17
https://github.com/pantsbuild/jarjar is now archived/read-only, https://github.com/shevek/jarjar came up top on Google when I searched for 'jarjar links' (although obviously not a conclusive metric :smile:)

(I did search first for 'jarjar' and had to refine my search, safe to say)

[2021-06-22 22:15] jarohen opened #52 "Over-zealous replacing imports inlining potemkin 0.4.5"
Hey again @benedekfazekas :smile:

Looks like `mranderson` is replacing imports that it shouldn't when it needs to rename only _some_ classes within a package.

repro:

* `^:inline-dep [potemkin "0.4.5"]` - this has dependencies on `riddley "0.1.12"` and `clj-tuple "0.2.2"`; it's the presence of _both_ of these that causes the issue. (I'm trying to inline `clj-http "3.12.2"`, but it seems `potemki

[2021-06-23 15:50] jarohen opened #54 "Not replacing imports in top-level namespaces"
Hey again :smile:

[clj-tuple](https://github.com/ztellman/clj-tuple) (a transient dependency of `clj-http`, in my case) has a top-level `clj-tuple` namespace, which isn't getting included in `:import` replacements. I reckon it's because `clj-files->dirs` has a `(remove str/blank?)`, but removing this leads to `target/srcdeps` being included in `clj-dirs`, and I wasn't satisfied that I understood

[2021-06-23 15:55] benedekfazekas commented on #54
all this reminds me #44 and #45 wlc to an other fold of dependency hell ;)

looking into these altho the jarjar update seems to be the most interesting?! trickiest?! so looking at that first

[2021-06-23 17:04] #48 closed

[2021-06-30 15:04] #49 closed

[2021-07-14 09:57] benedekfazekas commented on #54
So when i try inline `clj-http "3.12.2"` and grep for `tuple` in `target/srcdeps` i find only one occurrence where clj-tuple reference is correctly inlined in a `require`. any more pointers how to repro?

[2021-07-14 10:45] jarohen commented on #52
Cheers! :pray:

[2021-07-14 16:52] jarohen commented on #52
Ah, sorry @benedekfazekas - I don't think we can just filter out `clojure.lang` like this:

* We don't want to rename `clojure.lang.Var` etc - these are in the standard Clojure distribution (at least, I don't know of a reason to want this - do people want this to bring in different versions of Clojure, maybe?)
* We _do_ want to rename `clojure.lang.PersistentUnrolledVector` etc - these are [classe

[2021-07-14 17:09] jarohen commented on #54
Ah, sorry, took me a while to repro given my above description too :sweat_smile:

* `^:inline-dep [clj-tuple "0.2.0"]`
* `lein inline-deps` (using a `mranderson` version without the explicit `clojure.lang` exclusion in #52, which confuses matters here!)
* `(:import [clojure.lang PersistentUnrolledVector])` in the transformed `clj_tuple.clj`.

There are `clojure.lang` classfiles in `class-deps.jar`

[2021-07-15 15:03] benedekfazekas commented on #52
hm... apparently I was too hasty with this. maybe needs a bit more thinking time. As a general rule I don't want to inline clojure core stuff but clj-tuple is special in this regard obviously. reopening this.

it is also tricky because all `cloure.lang` are prefixed so mranderson would need to split this or rewrite this prefixing to achieve what you are suggesting I think.

[2021-08-25 14:59] #17 closed

[2021-08-25 15:03] benedekfazekas opened #56 "intermitent broken files when inlining"
sometimes files in dependencies come out broken (part of the file is missing therefore parens are not closed). gut feeling is that something goes wrong when files are processed in parallel.

example
[code]

[2021-09-16 09:59] plexus opened #57 "Big slowdown on Java 16"
Comparing Java 11 to Java 16, it seems on the latter MrAnderson is an order of maginitude slower than on the former.

Using [sdkman](https://github.com/sdkman/sdkman-cli)

[code]

So 5 minutes instead of 28 seconds. A cider-nrepl build is taking half an hour on my machine.

Not sure if this is a red herring, but on the latter I'm getting this warning

[code]

[2021-09-16 10:02] benedekfazekas commented on #57
thanks @plexus for letting me know, will have a look

[2021-09-16 11:08] plexus commented on #57
Thank you @benedekfazekas! Observing a little with `jstack` I noticed a lot of clojure-agent-send-off-pool threads, over 200, with up to ~100 RUNNABLE at once. Perhaps worth looking at how futures are used.

[2021-09-16 11:10] benedekfazekas commented on #57
was thinking about that and maybe check if need to upgrade `parallel`

[2021-10-07 07:34] vemv opened #58 "Support more than one `:source-paths` entry"
## Context

Projects can have arbitrarily many `:source-paths`. One can choose to do so for modularity reasons, or to decomplect intricacies related to Lein plugins, JDK compatibility, etc.

However mranderson only assumes one source path:

https://github.com/benedekfazekas/mranderson/blob/57f01e2d98ff8045ccb4d97dbcd917b000bb582b/src/mranderson/core.clj#L290-L292

So files from extra source paths

[2021-10-07 08:13] benedekfazekas commented on #57
thanks for the analysis @vemv happy to get a PR on this

[2021-10-07 08:17] vemv commented on #58
Yes the issue is https://github.com/clojure-emacs/refactor-nrepl/pull/340

It's kinda non-urgent because it has a workaround, but would definitely appreciate having a clean solution available

Cheers - V

[2021-10-27 19:21] expez opened #61 "load statements aren't handled"
I recently tried to inline `tools.deps.alpha` to get hotload-dependencies working again for cljr, but mranderson failed to consider these [load statements](https://github.com/clojure/tools.deps.alpha/blob/99e95b7c709608c662092e3cb6fd3c8145c3afbd/src/main/clojure/clojure/tools/deps/alpha.clj#L816-L820) in the middle of the file.

[2021-11-13 16:26] #58 closed

[2021-11-13 16:50] vemv commented on #56
While I reckon that the reduced parallelism (#59) makes the issue less likely, probably we cannot assure it's gone in absence of a careful analysis.

Perhaps for the time being we can introduce an option (opt-in) to make all processing serial instead?

Sounds like a quick thing to PR.

Admittedly I wouldn't enjoy much using a slower mranderson, otoh I don't release every day, might even defer it t

[2021-11-13 18:07] benedekfazekas commented on #61
:wave: @expez give above (branch `handle-load-stmt`) a try and let me know if it works

[2021-11-17 10:49] benedekfazekas commented on #61
also require/use/import etc is taken care of. what was missing is checking file path like references what load is using

[2021-11-20 11:35] benedekfazekas commented on #61
gentle bump @expez

[2021-11-24 15:26] expez commented on #61
Got an error:

[code]

[2021-11-24 15:45] expez commented on #61
It doesn't get to the load statements because it fails pretty quickly.

[2021-11-24 15:48] benedekfazekas commented on #61
bit confused here. how did you get to the original failure with the load statements then? you don't get this problem with the version of mranderson you used before reporting the original?

[2021-11-24 15:50] expez commented on #61
[code]

Here's a bit more of the printout.  As you can see it crashes before it reaches `clojure.tools.deps` which contained the problematic load statements.

[2021-11-24 15:53] benedekfazekas commented on #61
how did you get to `clojure.tools.deps` originally then? TOL maybe would worth to create a repro project with just `clojure.tools.deps`...

[2021-11-24 16:00] expez commented on #61
`make install` in the `refactor-nrepl` repo on the `hotload-deps` branch gave me the load error with version `0.5.3`.  This branch (that I installed as 0.5.4-SNAPSHOT with `lein install`) gave me the error above when I ran `make install` again.

[2021-11-24 16:08] expez commented on #61
To repro the only dep you need is this one, from `refactor-nrepl`:

[code]

It will cause this branch to fail.

`tools.dep` really puts mranderson through it's paces as it pulls in A LOT of deps :/

[2021-11-24 16:11] benedekfazekas commented on #61
thx for the repro snippet. haha that is good in a way ;)

[2021-11-24 16:17] expez commented on #61
Here's an even better repro:

[code]

[2021-12-05 11:53] benedekfazekas commented on #61
can't really reproduce this with above as dblquotes **inside** the doc string should be double escaped. not even sure that is possible so just put the above example in a file and that is processed without a problem -- see latest commit on `https://github.com/benedekfazekas/mranderson/tree/handle-load-stmt` branch.

the maybe offending file is in tools logging btw: https://github.com/clojure/tools.

[2021-12-05 12:16] benedekfazekas commented on #61
mranderson does not seem to have a problem with tools logging. added it to `mranderson.core-test/dependencies` the test run fine:
[code]

and after digging out the inlined file the ns macro looks like this:
[code]

so can't really repro the problem unfortunately. the load stmt thing is fixed too. let me know if i can be any help tho

[2021-12-07 11:08] bbatsov commented on #57
Any updates here? I got reminded about this while trying to deploy https://github.com/clojure-emacs/cider-nrepl/releases/tag/v0.27.3

[2021-12-07 11:10] bbatsov commented on #57
Btw, might be good to cut a release with the improvement @vemv has already done.

[2021-12-07 11:12] benedekfazekas commented on #57
not since @vemv 's latest comment. maybe would make sense to move creating the release candidate on CI.

release: I have two pending issues I want to solve/close before the next release. maybe this year.

[2021-12-07 11:12] bbatsov commented on #57
Fair enough.

[2021-12-07 11:56] vemv commented on #56
WDYT?

[2021-12-07 12:04] benedekfazekas commented on #56
an opt-in can't really hurt but not sure about the value of it, e.g. it may make mranderson unbearably slow even for CI jobs.  doing the same replacements in a bunch of files should be possible in parallel but then we should block until all the files are processed for one replacement round before the next round of processing can start. what/how is stuff going wrong needs a bit more hammock time at

[2021-12-07 12:43] vemv commented on #56
I see!

Perhaps the flag can be a temporary (or undocumented) measure until the issue is fully debugged.

Cutting releases might be considered unfrequent enough to make slowness acceptable.

In contrast, from time to time I see mranderson failing in clojure-emacs CI matrixes. Normally it has no impact (I can re-run related test jobs). But if it happened when actually cutting a release, that could

[2022-01-21 21:48] vemv opened #64 "Handle a version named "n/a" gracefully"
When a given project's version is "n/a", mranderson will keep the "/", resulting in a head-scratching error related to imports:

![image](https://user-images.githubusercontent.com/1162994/150604491-d95e72e4-afe2-4a20-ae72-10c56cc94e99.png)

Probably the `/` is safe to drop.

(As a workaround I ended up choosing 0.0.0 as a "n/a")

Cheers - V

[2022-02-03 01:37] lread commented on #57
FWIW, I experienced the slowness when running refactor-nrepl v3.2.2 (which now references `0.5.4-SNAPSHOT`) tests on macOS 10.15.7 with JDK17.
[code]
Switching to JDK11:
[code]
Made things nice and speedy again.

[2022-09-13 17:53] lread opened #65 "Fix broken cljdoc api analysis"
## Problem
The MrAnderson readme has a cljdoc badge which is showing "API import failed":

![image](https://user-images.githubusercontent.com/967328/189972261-c6eb6712-c077-448d-bb7c-0ed2f89638ae.png)

I assume that we'd like to fix this.

## Diagnosis
Cljdoc is barfing when trying to load `mranderson.util` namespace.
It references `leiningen.core.main` which is not on the classpath during cljdoc

[2022-09-13 18:34] lread commented on #65
Perhaps related?: #34

[2022-09-13 21:16] lread commented on #57
Ok, I'm curious about this one. I'll use [refactor-nrepl v3.5.5](https://github.com/clojure-emacs/refactor-nrepl/tree/v3.5.5) as my guinea pig.  It uses the MrAnderson `0.5.4-SNAPSHOT` release.

Here's what I'll run:
[code]
(not sure that the `rm -rf` is relevant, but refactor-nrepl does it, so I'll do it too).

I'm on macOS 10.15.7, 3.5 GHz Quad-Core Intel Core i7, 32gb RAM.
I am using skdman to

[2022-09-13 23:00] lread commented on #57
One guess on the cause is [JDK bug](https://bugs.openjdk.org/browse/JDK-8287802), which is a backport of this [JDK bug](https://bugs.openjdk.org/browse/JDK-8287162).

[2022-09-14 00:41] lread commented on #41
Cljdoc uses `clojure/tools.deps.alpha` to resolve deps.
It seems to work pretty well.

No sure if MrAnderson cares, but one thing it does not handle yet is [bom dependencies](https://clojure.atlassian.net/browse/TDEPS-202).

[2022-09-14 00:46] lread commented on #56
As of this writing, it seems the concurrency is at the file level:
https://github.com/benedekfazekas/mranderson/blob/f67a35b9991a498fe3a8c9487068bd563fd1d11b/src/mranderson/move.clj#L296-L299

So unless the same file is being processed at the same time more than once, there shouldn't be an clobbering issue. I can check on that possibility.

[2022-09-14 01:21] lread commented on #56
That said, I do get intermittent failures  when canary testing refactor-nrepl against rewrite-clj on GitHub Actions. Here's one from today:
[code]
So yeah, there is probably something still amiss.
I'll try to trigger this locally on my dev box.

[2022-09-14 02:52] lread commented on #17
There is also https://github.com/eed3si9n/jarjar-abrams
Not sure about the scala slant, but seems to be somewhat actively maintained?

[2022-09-14 08:59] benedekfazekas commented on #65
I thing `mranderson.core` and `mranderson.plugin` is a good guess. I might consider adding `mranderson.move` as well which is the real gist what mranderson does (based on Stuart Sierra's work) and could be used independently as well I think. Hope this makes sense.

[2022-09-14 09:07] benedekfazekas commented on #57
nice one. specially finding the jdk issues. can you check if setting `mranderson.internal.no-parallelism` sys property makes any difference on the poorly performing jdks?

suppose we can just add a note to the readme to use jdk 11 or rather > 17.0.4.1 and mention the above sys property if it helps.

[2022-09-14 09:13] benedekfazekas commented on #41
hm.. that is an interesting one. Using `tools.deps.alpha` feels the right way to go, and I don't think any MrAnderson's known clients use BOM deps. It also seems that tools.deps will eventually add BOM support. We can also add our own workaround if this becomes an issue...

[2022-09-14 14:52] lread commented on #65
Cool yeah, that seems good. Once I get the cljdoc analysis working I'll share the API that it documents for your review.

[2022-09-14 15:25] lread commented on #41
Yeah, listing the individual artifacts instead of the bom is the work-around we recommend for cljdoc API analysis.

Seems like the [parallel loading issue](https://clojure.atlassian.net/browse/TDEPS-153) has been fixed so that's good (actually not sure if that one would have even affected us).

[Antq](https://github.com/liquidz/antq) also uses `clojure/tools.deps.apha` for resolving deps so we can

[2022-09-14 15:25] benedekfazekas commented on #65
sounds awesome, thanks

[2022-09-14 16:53] benedekfazekas commented on #41
hm... looking at  `cider-nrepl` CI file, it seems so. however obviously munging the source with mranderson is just a step in the build process which could be tied down to use a specific clojure version I guess. that needs some adjustments downstream tho

[2022-09-14 16:58] lread commented on #41
Ya, that's what I figured, thanks.

If MrAnderson were integrated into some tooling that needed to support Clojure < 1.10 then we'd have an issue. But it is basically run as a stand-alone tool if I understand correctly.

[2022-09-14 17:01] lread commented on #41
I remember @vemv fighting the good fight to have rewrite-clj support Clojure >= v1.8 (he convinced me!), but that was because rewrite-clj is used in other tooling.

[2022-09-14 17:13] lread commented on #57
## Parallelism Disabled
Good idea! A repeat of tests with parallelism disabled:
[code]

|sdk use java |timing results|human friendly elapsed|judgement|
|-------------|--------------|----------------------|---------|
|`11.0.16.1-tem`|`144.86 real 164.35 user 9.88 sys`|2m25s|slower, but good|
|`17.0.4.1-tem`|`122.72 real 133.24 user 11.10 sys`|2m3s|slower, but good|
|`17.0.2-tem`|`124.16 real 135.05

[2022-09-14 18:01] lread commented on #42
I think I might want to deal with this to help move #65 along.

So, we are hooking into leiningen's logger fns because their behaviour is appropriate when run from leiningen. But we also want to be invoked when leiningen is not part of the equation and not on the classpath.

Some ideas/options:
1. @sogaiu's **dynamic var binding** proposal [above](https://github.com/benedekfazekas/mranderson/issue

[2022-09-14 18:40] lread opened #66 "Consider Bumping Deps"
## Currently
If I run antq:

[code]
on MrAnderson, it reports:

|                         :name |      :current |   :latest |
|-------------------------------|---------------|-----------|
|      com.cemerick/pomegranate |         0.4.0 |     1.1.0 |
|               jonase/eastwood |         0.9.9 |     1.3.0 |
|           lambdaisland/kaocha |       0.0-418 | 1.69.1069 |
| lambdaisland/kaocha-clov

[2022-09-15 09:25] benedekfazekas commented on #42
I like 1 and 2 most I think. I don't necessarily veto 4. if you want to go that way, but 1 or 2 sounds simpler. re. 5 tbh I can't remember why it is appropriate to use lein's own logger when in lein mode...

[2022-09-15 10:20] benedekfazekas commented on #66
I am deffo not against this specially quite a few deps are very out of date but not really a high prio unless a dated dep stops you (us ;) ) progressing with something interesting. Security issues are also concerning that said mranderson hopefully is never part of the application's runtime it works with so maybe that is not a big concern here.

not against switching to moved projects or to babashk

[2022-09-15 18:29] lread commented on #66
Thanks for the reply, much appreciated!

If you don't object, I'll likely go ahead with the bumps.
When something goes wrong it is nice to not wonder if the problem is due to an old dep with a long-ago fixed issue.

And the security issues, while perhaps not a direct concern for MrAnderson, probably should be addressed, if just for optics.

I'll not switch to babashka/fs nor touch jarjar with my c

[2022-09-15 18:36] lread commented on #42
Cool, since it is the easiest, maybe I can start with option 2.
We can revisit other options in the future if there is interest.

I think the advantage is you inherit lein's logging behaviour.
If the user wants to silence logging (or enable debug logging), they do so via lein and the plugin picks up that choice.

[2022-09-15 19:36] vemv commented on #42
Yes, that way the `LEIN_SILENT` / `DEBUG` env vars will be honored

[2022-09-15 19:38] benedekfazekas commented on #42
yeah, you are right

[2022-09-17 08:44] #66 closed

[2022-09-17 17:36] lread opened #69 "Consider adding some brief docs for MrAnderson developers"
## Currently
While making some changes to MrAnderson, I was curious to know the best way to build and install locally.

I stumbled on the Makefile.
And looked at what MrAnderson does for CircleCI.

And figured things out. Maybe.

## I think...
Some dev docs would be helpful for those who want to contribute to MrAnderson.

This could either be in a separate `dev.md` doc or directly in the current `

[2022-09-19 00:12] lread commented on #56
Good news! In my tests, I am seeing that the list of files on which pmap operates is not always distinct, which would occasionally cause issues. I'll understand why and report back.

[2022-09-19 00:23] lread commented on #57
I'm getting a better understanding of the work that MrAnderson is doing.

It is repeating a lot of file slurp and parsing that maybe it does not have to.

Idea 1. I'm thinking it would be interesting to explore analyzing all that work needs to be done first, then applying that work in one pass (or a few if that makes more sense) of the source tree.

Idea 2. It might also be interesting to explore

[2022-09-19 08:39] benedekfazekas commented on #56
oh you mean inside one run, not as my theory went in [on 7 Dec 2021](https://github.com/benedekfazekas/mranderson/issues/56#issuecomment-987862779). interesting... mranderson may want to do different things in the same file or just a simple duplications which should be easy to get rid of, I wonder which.

[2022-09-19 08:50] benedekfazekas commented on #57
I guess the keys fns here to look at are `mranderson.move/replace-ns-symbol` and `mranders.move/update-file`. This ns is relatively well documented and yes there are many runs as mranderson needs go through the dependency tree and replace references to deps vars again and again in the deps files it already processed for a previous dependency. maybe there is a way to simplify this (therefore making

[2022-09-19 13:36] lread commented on #57
Even without clj-kondo, I think we could work out the list of renames we need to make first, then apply them all at once to each file. Right now I think renames are applied one at time to each file.

I'm thinking that instead of this pseudo-code:
`(for [r renames f files] (-> f slurp parse (update-with r) spit))`

We would instead
`(for [f files] (-> f slurp parse (update-with renames) spit))`

Wh

[2022-09-19 14:09] benedekfazekas commented on #57
slurp, spit: 🤣
ah maybe I misunderstood you previously as I thought you meant the new rounds of processing for every dependency. this might work and sounds the right thing to do.

[2022-09-19 14:45] lread commented on #57
Yeah, I don't think I was entirely clear. Pseudocode helps!

I'll give idea 1 a whirl and learn what, if any, downsides there are to this approach.

[2022-10-02 08:38] benedekfazekas opened #72 "mranderson rewrites some cljc/clj files twice"
from @r0man 's PR #71

Hello,

I would like to use Instaparse in Orchard and Cider as a dependency to
parse stacktraces formatted by Aviso, Clojure and Java, and show them
in the Cider stacktrace inspector.

In order to include Instaparse into the Cider middleware I think it
must be shipped as a inlined dependency produced via mranderson.

Unfortunatly, mranderson wasn't able to inline Instaparse.

[2022-10-02 08:49] benedekfazekas commented on #72
Looking at this I realised that the reason behind instaparse having cljc and clj files for the same namespaces is to provide backward compatibility for clojure 1.6 (before reader conditionals). Instaparse does this via https://github.com/aengelberg/cljsee In fact if you look at the source of instaparse before the cljsee magicked uberjar, there is no such duplication: https://github.com/Engelberg/i

[2022-10-02 09:01] benedekfazekas commented on #72
created a branch called `fix-72` with a wip fix for this (see my comment above), if you could try that @r0man if this helps with inlining instaparse for clojure-emacs/orchard#164

[2022-10-02 09:49] r0man commented on #72
Hi @benedekfazekas,

thanks for looking into this. I found these 2 resources on that topic:

https://clojure.org/reference/libs#order
https://groups.google.com/g/clojure-dev/c/d5Hb1E7zfHE/m/sPybIAxgCwAJ?pli=1

Given what I'm reading there, I think it's perfectly fine to have even all 3 types of Clojure files in a project. So, if possible I would prefer the approach of correctly rewriting all those

[2022-10-02 10:04] r0man opened #73 "Mr Anderson does not correctly rewrite defrecord references with dashes"
When rewriting dependencies with Mr Anderson and the rewrite prefix namespace contains dashes, defrecord instances are not referenced correctly.

Cider uses the "cider.nrepl.inlined-deps" prefix for it's rewritten dependencies.

Mr Anderson rewrites a record reference such as:

[code]

to this:

[code]

This is however not the right way to refer to a fully qualified record. The correct way would b

[2022-10-02 10:05] r0man commented on #72
@benedekfazekas I found another issue which might affect you when experimenting with Instaparse. I created an issue for this here just now: https://github.com/benedekfazekas/mranderson/issues/73

[2022-10-02 10:56] benedekfazekas commented on #73
I am guessing the problem here is that mranderson does not do the `-` to `_` replace in the prefix only in the actual namespace. should be relatively easy to fix

[2022-10-02 10:57] benedekfazekas commented on #72
hm... good finds. maybe your approach is better then. let me have a think about this. on a sidenote the watermark missing could be a separate issue not related to this or your PR.

[2022-10-02 11:01] benedekfazekas commented on #73
happy to look at the PR for this too or at least if you could put together a test case demonstrating it, thx

[2022-10-02 13:08] r0man commented on #73
@benedekfazekas This would be a failing test case:

https://github.com/r0man/mranderson/commit/4a37fcb0e5818d3cdc57ff5d90d64efc965d925e

Unfortunately, not too minimal, since it's also involving Instaparse.

[2022-10-04 22:47] lread commented on #57
I got distracted by some other work, I am looking forward to starting back on this very soon.

[2022-10-05 10:40] benedekfazekas commented on #73
hm.. this is trickier than I thought originally. mranderson does replacements with java pkg style prefix (with `_`) in the ns body but in this case nothing triggers using the underscored version, see here: https://github.com/benedekfazekas/mranderson/blob/master/src/mranderson/move.clj#L184-L218

since we just do a simple string based replacement in the ns body (for performance reasons) it is also

[2022-10-05 12:00] benedekfazekas commented on #72
hi @r0man updated the `fix-72` branch with an approach pretty much based on yours, pls give it a go and let me know if it works and if any comments

[2022-10-05 15:47] benedekfazekas commented on #73
after looking at the `instaparse.abnf` namespace I thought the problematic line (after wrong mranderson replace) looked like this:
`(instance? mranderson-test27717.instaparse.v1v4v12.instaparse.gll.Failure tree)` assuming the original looked like this `(instance? instaparse.gll.Failure tree)` the only hint here is the `instance?` fn call before, what am i missing?

[2022-10-05 15:53] r0man commented on #72
Hi @benedekfazekas,

I just tried it with Instaparse inlined in cider-nrepl and it seems to work!
Let's go with your approach. I think having this in the move namespace is better.

Thanks for taking a look at this.

[2022-10-05 15:56] benedekfazekas commented on #72
glad it worked, will add the fix and do a snapshot release to unblock your cider-nrepl work, still thinking about #73 but suppose that is not really a blocker for you, is it?

[2022-10-05 16:02] r0man commented on #72
Ok, thanks for your help! Much appreciated. No, I don't think this isn't a blocker. I will also still need a bit more time with the stacktrace stuff anyway.

[2022-10-05 16:07] benedekfazekas commented on #73
oh, got you now I think... maybe it is just the order of preds in the cond... the big question of course if changing the order breaks other things. will have a play with this

[2022-10-05 16:08] benedekfazekas commented on #72
coolio i might try to fix #73 as well and snapshot release them together

[2022-10-06 16:20] lread commented on #73
Sounds like we might be talking about some explorations [I was wondering about too](https://github.com/benedekfazekas/mranderson/issues/57#issuecomment-1250422010).

Please let me know if anybody is diving into this as it might affect stuff I'll be looking into sometime soon.

[2022-10-08 19:55] lread commented on #56
## Exploration
I've been testing with cider-nrepl.

I see the same files being processed 4 times under `clojure/tools`.
And the same files being processed 2 times under `compliment`

I've noticed that there is a utility fn `remove-subdirs` but I don't see anywhere that removes dupe dirs.

I'm not sure how MrAnderson is in the situation where there are dupe dirs for `compliment`, but for `clojure/t

[2022-10-09 17:42] lread commented on #56
Hmmm... there's something else going on that I don't understand yet.

I'll try to figure out why `compliment` is being processed twice before creating a PR.

[2022-10-09 21:30] lread commented on #56
Ok, seems like when we are processing an artifact, and its source dirs overlap with our current parent dirs we don't exclude the duplication. This means that we'll process the files twice.

I think my proposal above makes sense.
I will also make anything that returns a list of files non-lazy.
The lazyness had me confused for a bit when debugging.

[2022-10-10 15:45] lread commented on #42
Actually, Option 2 has the con that it doesn't give the user control over logging.
I'll play with Option 1 first and see how that feels.

[2022-10-10 15:59] vemv commented on #42
dyn vars are kind of old-fashioned by now - while I'm fond of them they still give the occasional headache (or incompatibility)

I'd suggest going for `2` because logging is a very minor concern in something that _isn't_ a production app.

If anything you'd be giving people a chance to swipe useful output under the rug, which later has to be second-guessed in issue reports :)

As a last resource y

[2022-10-10 16:07] benedekfazekas commented on #56
so do you (and @vemv ?) think that running tasks in parallel made this bug worse or rather made it show its head and there is probably no essential problem with parallel running? -- is this a wrong assumption somehow?

[2022-10-10 16:16] lread commented on #42
Thanks for chiming in @vemv!

I think MrAnderson currently uses debug and info logging.

I like your Option 6: which I think might be: replicate lein debugging and use that everywhere.

So we'll still log the way we do but not reach out to lein to do so.

The cons:
- we won't pick up changes in logging behaviour from lein, but I'm guessing this won't be an issue
- slightly awkward for non-lein use

[2022-10-10 16:20] vemv commented on #42
quite unlikely if you don't `export` the env var altogether e.g. `DEBUG=true my-command`

[2022-10-10 18:57] lread opened #75 "Consider CI Testing on Windows?"
## Currently
MrAnderson CI testing is on Linux only.

## But...
I'm not sure if MrAnderson wants to be sure to be compatible with Windows

## If that's the case
We should probably add automated Windows CI testing.
This has helped me, on my projects anyway, to find issues I would have otherwise missed for Windows.

## Otherwise...
If Windows is not an important platform for MrAnderson, that's OK to

[2022-10-10 19:05] benedekfazekas commented on #75
I don't think windows is important for mranderson, but happy to listen to a win case (pun intended -- sorry)

[2022-10-10 19:14] lread commented on #75
Ha! Love a pun!

My only argument to support Windows for my projects is that Windows support is often 2nd class or an afterthought in the Clojure world. And that makes me feel sad for Windows users.

But... I think is it also perfectly acceptable to not take on the extra burden of explicitly supporting Windows. It's not like we get paid big bucks for this open source work, right? 🙂

Would you be o

[2022-10-10 19:41] benedekfazekas commented on #75
yeah the README addition defo makes sense. will do. I would say that mranderson is really a niche project so maybe windows support would not really worth even the minimal time/energy invested.

[2022-10-10 19:43] lread commented on #75
Yeah, true. It could be more me crusading for the underdog.
But that underdog might never use MrAnderson in the first place!

Thanks for the discussion and please feel free to close this issue.

[2022-10-10 19:44] benedekfazekas commented on #75
will close shortly, just keep it open so i don't forget the readme update ;)

[2022-10-10 20:16] vemv commented on #75
I'd like to add that mranderson is best run from a CI machine, since the best practice nowadays is not to cut releases from one's laptop.

And it's pretty safe to assume that that CI machine will be unixy.

[2022-10-11 15:38] lread commented on #42
@benedekfazekas are you ok with [Option 6](https://github.com/benedekfazekas/mranderson/issues/42#issuecomment-1273547496)?
- stop using lein logging fns
- replicate lein logging behaviour that we do use
- respect `LEIN_SILENT` and `DEBUG` env vars as lein does

[2022-10-11 15:47] benedekfazekas commented on #42
sounds good to me, thanks!

[2022-10-11 17:13] #56 closed

[2022-10-11 19:25] vemv opened #76 "clojure.core require handled badly"
Namespaces can require `clojure.core` in their ns form. While rare, that was actually used as a workaround for [a now-fixed Cloverage issue.](https://github.com/cloverage/cloverage/issues/312)

...when mranderson would find such a require, it would rewrite it to something _very_ different (`cider.nrepl.inlined-deps-corerrb-vector.v0v1v2.clojure.core`), causing an error when trying to run the emitt

[2022-10-12 11:22] #75 closed

[2022-10-12 11:52] lread commented on #75
Thanks @benedekfazekas, a side benefit: this makes is clearer for MrAnderson contributors too!
It makes it clear that we don't have to worry about differences like path and file separators or newlines. 👍

[2022-10-14 20:03] lread commented on #73
I've read the above but I want to make sure I understand.

Is the crux of this issue that MrAnderson does not handle a `require`s which appear outside of the `ns` macro? As in: `(require '[orchard.java.parser :as src])`?

Or is there also another separate issue?

[2022-10-14 20:15] r0man commented on #73
@lread The issue is that if you choose a rewrite prefix with a dash in its name (Cider uses `cider.nrepl.inlined-deps` for example) Mr Anderson uses this as a prefix to replace fully qualified symbols.

For symbols that reference a function for example this works fine, but it does not work for records. Record references need to be made in Java style, where dashes are replaced with underscores.

In

[2022-10-14 20:17] lread commented on #73
Ah, thanks @r0man, I saw some conversation around `require` and thought it might be the crux.

But it is simply what you originally reported, it seems!

[2022-10-15 01:07] lread commented on #69
So the Makefile change seems to make sense.
The tweak allows me to easily test locally with MrAnderson with its own deps inlined.
Which is handy for things like cljdoc previewing.

[2022-10-15 01:41] lread commented on #65
Ok, @benedekfazekas, I have a cljdoc preview from my dev box for you:

![image](https://user-images.githubusercontent.com/967328/195962707-50d4612e-1001-4200-b654-769e5f52d15b.png)

For some reason, aether is not getting `:mranderson/inlined` metadata and is therefore included when it should not be. I'll take a peek and raise a separate issue.

Otherwise, we are getting to the nitty gritty of what

[2022-10-15 06:22] benedekfazekas commented on #73
well, it is just a tiny bit more tricky than that ;)

the one thing to keep in mind that mranderson analyzes the ns macro (with rewrite clj) but does simple regexp based replace in the ns body.

if the prefix has a dash in it mranderson has no way to decide if it needs to use dashed or underscored version of it in the *body* IF the symbol itself does not have dash or underscore in it. it would nee

[2022-10-15 11:13] lread commented on #73
Thanks for the clarification @benedekfazekas, that helps too.

[2022-10-15 15:32] lread opened #78 "Watermarking inlined namespaces is a bit off"
## Symptom

As part of #65, while previewing what MrAnderson would look like on cljdoc, I noticed that inlined namespace `mranderson.inlined.pomegranate.v1v2v1.cemerick.pomegranate.aether` was included in the docs.

MrAnderson uses the term "watermark" to describe adding `:mranderson/inlined` metadata to inlined namespaces. Cljdoc was just recently updated to treat this metadata the same way it do

[2022-10-15 16:14] lread opened #79 "Consider tweaking integration tests"
## Currently
MrAnderson carries out integration tests against cider-nrepl and refactor-nrepl.

I think this is great.

## But maybe we could tweak this a bit?

### Use fetched sources of official release instead of git modules
Instead of including cider-nrepl and refactor-nrepl as git modules, fetch an official release's source and test against that. This would:
1. move this integration testing wo

[2022-10-15 20:09] lread commented on #78
Ok, I'm thinking that maybe the current code is a bit wonky.

When processing the `ns` form:
- When a namespace name is renamed it loses all existing metadata regardless of whether or not the watermark is specified.
- When the namespace name is not renamed and a watermark is specified, then that watermark is added to the namespace name metadata.

Because aether was the last namespace name to be re

[2022-10-16 17:01] benedekfazekas commented on #42
reopened this, as this is rather unlocked now by @lread 's good work, but there are still a few things to do
- make lein an optional artifact (maybe a separate deployable as a lein plugin and an other one that is just a lib)
-  add a CLI to run mranderson from a shell (optianal but would be real nice)

[2022-10-16 17:03] benedekfazekas commented on #78
that sounds really good. I noticed the problem too when working on the instaparse problems with tests authored by @r0man

[2022-10-16 17:07] benedekfazekas commented on #65
I guess `mranderson.core/mranderson` `mranderson.move` are the real candidates. maybe adding a CLI and properly carve away the lein plugin would clarify this a bit more...

[2022-10-16 17:11] lread commented on #42
Ah, ok, sounds good.

Thinking out loud: do we need a separate artifact? So long as the cli does not reference the leiningen ns would we be good? Or is that a bad idea?

This would be for non-lein users, yeah?
I think we could work something out here.

General mranderson config should be straightforward.

Cmdline ease of use could be helped by babashka.cli.

Any ideas on how the user would mark wh

[2022-10-16 17:19] lread commented on #65
Cool, I propose starting ultra-conservative and only exposing `mranderson.core/mranderson`.

You can always add things to the supported API at a later date.

That said you have documented the move ns clearly with ALPHA.
So you've given a clear warning.
If you were to expose `mranderson.move`, would it just be `move-ns` fn to start with?

[2022-10-16 17:56] vemv commented on #42
Eastwood takes the single-artifact approach and it hasn't caused problems (which of course shouldn't - namespaces aren't `require`ed out of the blue)

[2022-10-16 18:09] lread commented on #42
Ah good, thanks @vemv!

[2022-10-17 21:25] lread opened #81 "Small maint: no need to use rewrite-clj zip internals"
## Currently
The move functionality uses internal ns `rewrite-clj.zip.base`.

## Today
There is no need for this in rewrite-clj v1.
We can do everything we need to from `rewrite-clj.zip`.

## Next steps
I will follow up with a wee PR.

[2022-10-17 21:30] lread commented on #81
Oh wait. MrAnderson is using the `rewrite-clj.reader` too.
This is not part of the rewrite-clj public API either.
I'll also check if its use is necessary for MrAnderson.
If so, fine. If not, I'll adjust.

[2022-10-17 22:42] lread opened #82 "Refactor: skip reader discard nodes with rewrite-clj universally"
## The thing
Rewrite-clj automatically skips whitespace and comments.
This is good.

It does not skip reader discard nodes. Ex. `#_ skipme`.
This is awkward.

## The proposal
Wrap rewrite-clj in a way that it also automatically skips reader discard nodes.
Doing this in one spot would avoid the error-prone checking for `:uneval` node types throughout the `mranderson.move` namespace.

I'd create a n

[2022-10-18 15:21] #78 closed

[2022-10-18 16:00] lread commented on #81
Ok, I think MrAnderson's usage of the `rewrite-clj.reader` is reasonable and interesting.
It uses the reader to minimize rewrite-clj parsing of a source file to the first `ns` form it can find.

[2022-10-18 16:18] #81 closed

[2022-10-18 16:40] lread commented on #82
I'll go ahead and take a stab at this and then we can decide in the PR review if it is actually an improvement.

[2022-10-18 21:33] lread commented on #76
Maybe not that rare @vemv when used in conjunction with `(:refer-clojure :exclude ...)`?

A contrived example, but you get the idea:

[code]

Would the above be problematic?

[2022-10-19 09:07] vemv commented on #76
Only one way to know!

[2022-10-20 13:59] lread commented on #82
I did a little trial of this here, which reminded me this should really be something that rewrite-clj itself supports https://github.com/clj-commons/rewrite-clj/issues/70. I've added that to my todos and started [thinking](https://github.com/clj-commons/rewrite-clj/discussions/199) about how that might work.

After I've come up with a solution in rewrite-clj, I'll come back and apply that here in

[2022-10-27 15:27] lread opened #84 "dev/ci: happy with codecov.io behaviour?"
@benedekfazekas I too use codecov.io for rewrite-clj.

Are you happy with the current behaviour? If so, please close this issue.

If not, for your consideration, my preferences for rewrite-clj are:
1. I'm interested in code coverage not as some goal of lines covered by tests, but as passive information.
2. I have no interest in failing any build on any code coverage metric
3. I have no interest in

[2022-10-28 08:25] #84 closed